MyDay/MyDay.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MyDay/MyDay.xcodeproj/project.xcworkspace/xcuserdata/sebastianmraz.xcuserdatad/UserInterfaceState.xcuserstate
MyDay/MyDay.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MyDay/MyDay.xcodeproj/xcuserdata/sebastianmraz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyDay/MyDay.xcodeproj/xcuserdata/sebastianmraz.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
